os==3.9.12
xarray==2024.10.0
fiona==1.10.1
gc==3.9.12
geopandas==1.0.1
georasters==0.5.29
json==3.9.12
math==3.9.12
numpy==1.26.4
pandas==2.2.3
random==3.9.12
rasterio==1.4.2
shapely==2.0.6
matplotlib==3.9.2
seaborn==0.13.2
tkinter==8.6.12
captum==0.7.0
networkx==3.3
pysal==24.7
scikit-learn==1.5.2
torch==2.4.1
torch_geometric==2.6.1
osgeo==3.9.2